data/
__pycache__/
.venv/

# ignore generated jpg files
project/aug/*.jpg
project/aug_masks/*.jpg
project/L1000765/**/*.jpg
project/L1000766/**/*.jpg
project/L1000767/**/*.jpg
project/L1000768/**/*.jpg

# ignore training data
project/training_data/training_images/**/*.jpg
project/training_data/training_images/**/*.png
project/training_data/training_masks/**/*.jpg
project/training_data/training_masks/**/*.png
project/training_data/reference_manual_masks/*.afphoto
training_data/
models/
# ignore models
project/models/

# ignore classifiers
*.pkl
.old/


# ignore dorian's files
projodo/
*.DS_Store