data/
__pycache__/
.venv/

# ignore generated jpg files
aug/*.jpg
aug_masks/*.jpg
L1000765/**/*.jpg
L1000766/**/*.jpg
L1000767/**/*.jpg
L1000768/**/*.jpg

# ignore training data
training_data/augmented_data/**/*.jpg
training_data/augmented_data/**/*.png
training_data/reference_manual_masks/*.afphoto

# ignore models
models/

# ignore classifiers
*.pkl


# ignore dorian's files
projodo/
*.DS_Store
.old/